* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --main-red: #db4c3f;
    --second-red: #d86257;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    height: 3rem;
    background-color: var(--main-red);
    justify-content: space-between;
}

.header .left {
    display: flex;
    align-items: center;
    margin-left: 3rem;
    width: max-content;
}

.header .left .logo {
    height: 2rem;
}

.header .right {
    display: flex;
    align-items: center;
    margin-right: 3rem;
    justify-content: flex-end;
    width: max-content;
}

.search {
    height: 2rem;
    background-color: var(--second-red);
}

.search:hover, .search:focus {
    background-color: white;
}

.search-button, .user-button {
    height: 2rem;
    width: 2rem;
}

/* Projects */
.content {
    position: relative;
}

.content ul {
    list-style: none;
}

.content ul li {
    margin: 0.5rem;
    margin-left: 0;
}

.project-holder {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    background-color: rgb(241, 239, 239);
}

.todo-holder {
    margin-left: 200px;
    height: 80vh;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div {
    padding: .5rem;
    background-color: rgba(156, 151, 151, 0.8);
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    background-color: rgb(114, 110, 110);
}

.links {
    display: flex;
    justify-content: center;
}

/* Forms */

.form, .hide {
    display: none;
}

.add-todo, .add-project {

    margin: 0 auto 0 auto;
}

.cancel {
    background-color: rgba(252, 80, 80, 0.5);
}

.cancel:hover {
    background-color: rgb(250, 60, 60);
}

/* Todo table*/

.low {
    background-color: rgba(106, 212, 85, 0.9);
}

.low:hover {
    background-color: rgba(106, 212, 85, 1);
}

.medium {
    background-color: rgba(212, 210, 85, 0.9);
}

.medium:hover {
    background-color: rgba(212, 210, 85, 1);
}

.high {
    background-color: rgba(212, 93, 85, 0.9);
}

.high:hover {
    background-color: rgba(212, 93, 85, 1);
}

/*
.low:hover, .medium:hover, .high:hover {
    background-color: white;
}
*/

.checked {
    opacity: .5;
    text-decoration: line-through;
}