* {
    box-sizing: border-box;
    border: 1px solid black;
}

:root {
    --main-red: #db4c3f;
    --second-red: #d86257;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    height: 3rem;
    background-color: var(--main-red);
}

.header .left {
    display: flex;
    align-items: center;
    margin-left: 3rem;
}

.header .left .logo {
    height: 2rem;
}

.header .right {
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

.search {
    height: 2rem;
    background-color: var(--second-red);
}

.search:hover, .search:focus {
    background-color: white;
}

.search-button, .user-button {
    height: 2rem;
    width: 2rem;
}

/* Projects */
.content {
    position: relative;
}

.content ul {
    list-style: none;
}

.content ul li {
    margin: 0.5rem;
    margin-left: 0;
}

.project-holder {
    position: absolute;
    width: min(max-content, 200px);
}

.todo-holder {
    margin-left: 200px;
    height: 80vh;
}

footer {
    text-align: center;
}

.links {
    display: flex;
    justify-content: center;
}

/* Forms */

.form {
    display: none;
} 
