* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    float: right;
    display: flex;
}

.header input[type=text] {
    padding: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    border: 1px solid gray;
    width: 80%;
}

.header button {
    float: right;
    padding: 0.25rem 0.5rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
    background: #ddd;
    font-size: 1rem;
    cursor: pointer;
}

.header button:hover {
    background: #ccc;
}

.icon {
    width: 1rem;
}